QPushButton[clase="pais"] {
    background-color: white;
    border-style: outset;
    border-width: 2px;
    border-color: black;
    font: bold 11px;
}
QPushButton[clase="pais"]:pressed  {
    border-color: yellow;
}
